/* Navbar.module.css */
.navbar {
  align-items: center;
  justify-content: space-between;
  background: #222;
  padding: 1em;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.logo {
  height: 40px;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #FFBB33;

}